Repository ppxb/admin-components: changes, and which lefthook commands are due for each by the changed paths.
All: lint-vue, lint-js, lint-style, lint-package, lint-json

lefthook.yml:

pre-commit:
  parallel: true
  commands:
    lint-vue:
      run: pnpm eslint --cache --fix {staged_files} && pnpm prettier --write {staged_files} && pnpm stylelint --fix --allow-empty-input {staged_files}
      glob: '*.vue'
    lint-js:
      run: pnpm eslint --cache --fix {staged_files} && pnpm prettier --cache --ignore-unknown --write {staged_files}
      glob: '*.{js,ts}'
    lint-style:
      run: pnpm prettier --cache --ignore-unknown --write {staged_files} && pnpm stylelint --fix --allow-empty-input {staged_files}
      glob: '*.{style,html,css}'
    lint-package:
      run: pnpm prettier --cache --write {staged_files}
      glob: package.json
    lint-json:
      run: pnpm prettier --cache --write --parser json {staged_files}
      glob: '{!(package)*.json,*.code-snippets,.!(browserslist)*rc}'

chore: add eslint-config-prettier
  eslint.config.mjs
  package.json
  pnpm-lock.yaml
Due: lint-package

chore: uniform toggle-language style
  src/components/layout/LayoutHeader.vue
  src/components/toggle-language.vue
  src/views/auth/index.vue
Due: lint-vue

chore: add test header toggle
  src/components/layout/LayoutHeader.vue
  src/components/sidebar/Sidebar.vue
  src/views/test/index.vue
Due: lint-vue

chore: delete unused component
  src/components/sidebar/Sidebar.vue
Due: lint-vue

chore: format code
  src/components/toggle-language.vue
Due: lint-vue

fix: route change not casue locales change
  src/locales/index.ts
  src/views/auth/components/account-login.vue
Due: lint-vue, lint-js

chore: add theme toggle with some error
  src/components/LanguageToggle.vue
  src/components/ThemeToggle.vue
  src/components/icons.ts
  src/components/layout/LayoutHeader.vue
  src/components/ui/index.ts
  src/views/auth/index.vue
Due: lint-vue, lint-js

refactor: preferences store and add test
  src/components/ThemeToggle.vue
  src/components/ui/button/index.ts
  src/layouts/preferences/config.ts
  src/layouts/preferences/constants.ts
  src/layouts/preferences/index.ts
  src/layouts/preferences/preferences.ts
  src/layouts/preferences/update-css-variables.ts
  src/layouts/preferences/use-preferences.ts
  src/main.ts
  src/preferences/constants.ts
  src/stores/modules/preferences.ts
  src/styles/global.css
  src/types/preferences.d.ts
  src/types/preferences.ts
Due: lint-vue, lint-js, lint-style

chore: lint code
  src/components/ThemeToggle.vue
Due: lint-vue

perf: add fullscreen toggle
  src/components/FullscreenToggle.vue
  src/components/icons.ts
Due: lint-vue, lint-js

lint: change prettier to override
  eslint.config.mjs
Due: none

chore: fix theme toggle transition
  eslint.config.mjs
  src/components/FullscreenToggle.vue
  src/components/LanguageToggle.vue
  src/components/ThemeToggle.vue
  src/components/layout/LayoutHeader.vue
  src/components/sidebar/Sidebar.vue
Due: lint-vue

chore: rename login folder name
  src/components/layout/LayoutHeader.vue
  src/router/routers/core.ts
  src/stores/modules/index.ts
  src/views/auth/components/account-login.vue
  src/views/auth/index.vue
Due: lint-vue, lint-js

refactor: widget component
  src/components/widgets/FullscreenToggle.vue
  src/components/widgets/LanguageToggle.vue
  src/components/widgets/PreferencesWidget.vue
  src/components/widgets/ThemeToggle.vue
  src/stores/modules/index.ts
  src/views/authentication/components/account-login.vue
  src/views/authentication/index.vue
Due: lint-vue, lint-js

lint: fix
  src/components/widgets/FullscreenToggle.vue
  src/views/authentication/components/account-login.vue
  src/views/authentication/index.vue
Due: lint-vue

chore: remove eslint-config-prettier
  package.json
  pnpm-lock.yaml
Due: lint-package

fix: lefthook
  lefthook.yml
Due: none
